<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if(user_id) { %>
      
        <div class="form-group mx-sm-3 mb-2">
          <button type="submit" class="btn btn-outline-light"> <%=email%> </button>
        </div>  
        <form class="nav justify-content-end" action = "/logout" method ="POST">
        <button type="submit" class="btn btn-outline-light">Logout</button>
      </form>
    <% } %>

    <% if(!user_id) { %>
      <form class="nav justify-content-end" , action="/login" , method="POST">
        <button type="submit" class="btn btn-outline-light">Login</button>  
      </form>
      <form action = "/registerbt" method="POST">
        <button type="submit" class="btn btn-outline-light">Register</button>
      </form>
    <% } %>

  
  </nav>
</header>